<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Printer</title>

    <!-- FAVICON -->
    <link href="img/favicon.png" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">
    <link href="static/vendor/bootstrap/css/bootstrap.min.css"  rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/css/bootstrap-slider.css"  rel="stylesheet">
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/css/about.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">


</head>

<body class="body-wrapper">

    <!-- ======= Header ======= -->
    <div id="header"></div>

    <!-- ======= About Us Section ======= -->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="static/img/about-mission.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Mission</a></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-col">
                        <div class="img">
                            <img src="static/img/about-plan.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-list-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Plan</a></h2>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam
                            rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt explicabo.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="static/img/about-vision.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Vision</a></h2>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos
                            qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor
                            sit amet.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End About Us Section -->



    <section class="mb-5 xq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading text-center text-capitalize font-weight-bold py-5">
                        <h2>our team</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card my-3 my-lg-0">
                        <img class="card-img-top" src="static/images/team/team1.jpg" class="img-fluid w-100"
                            alt="Card image cap">
                        <div class="card-body bg-gray text-center">
                            <h5 class="card-title">John Doe</h5>
                            <p class="card-text">Founder / CEO</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card my-3 my-lg-0">
                        <img class="card-img-top" src="static/images/team/team2.jpg" class="img-fluid w-100"
                            alt="Card image cap">
                        <div class="card-body bg-gray text-center">
                            <h5 class="card-title">John Doe</h5>
                            <p class="card-text">Founder / CEO</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card my-3 my-lg-0">
                        <img class="card-img-top" src="static/images/team/team3.jpg" class="img-fluid w-100"
                            alt="Card image cap">
                        <div class="card-body bg-gray text-center">
                            <h5 class="card-title">John Doe</h5>
                            <p class="card-text">Founder / CEO</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card my-3 my-lg-0">
                        <img class="card-img-top" src="static/images/team/team4.jpg" class="img-fluid w-100"
                            alt="Card image cap">
                        <div class="card-body bg-gray text-center">
                            <h5 class="card-title">John Doe</h5>
                            <p class="card-text">Founder / CEO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 my-lg-0 my-3">
                    <div class="counter-content text-center bg-light py-4 rounded">
                        <i class="fa fa-smile-o d-block"></i>
                        <span class="counter my-2 d-block" data-count="2314">0</span>
                        <h5>Happy Customers</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 my-lg-0 my-3">
                    <div class="counter-content text-center bg-light py-4 rounded">
                        <i class="fa fa-user-o d-block"></i>
                        <span class="counter my-2 d-block" data-count="1013">0</span>
                        <h5>Active Members</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 my-lg-0 my-3">
                    <div class="counter-content text-center bg-light py-4 rounded">
                        <i class="fa fa-bookmark-o d-block"></i>
                        <span class="counter my-2 d-block" data-count="2413">0</span>
                        <h5>Verified Ads</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 my-lg-0 my-3">
                    <div class="counter-content text-center bg-light py-4 rounded">
                        <i class="fa fa-smile-o d-block"></i>
                        <span class="counter my-2 d-block" data-count="200">0</span>
                        <h5>Happy Customers</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- ======= Footer ======= -->
    <footer id="footer">
    </footer><!-- End Footer -->



    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- JAVASCRIPTS -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap-slider.js"></script>
    <script src="static/vendor/slick/slick.min.js"></script>
    <script src="static/vendor/jquery-sticky/jquery.sticky.js"></script>
    <!-- Template Main JS File -->
    <script src="static/js/script.js"></script>
    <script src="static/js/main.js"></script>
    <script type='text/javascript'>
        $(document).ready(function(){
         $( "#header" ).load( "/static/header.html" );
        });
        $(document).ready(function(){
         $( "#footer" ).load( "/static/footer.html" );
        });
       </script>
</body>

</html>