<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printer</title>
    <!-- FAVICON -->
    <link href="img/favicon.png" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">
    <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap-slider.css">
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/css/ceo.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body class="body-wrapper">

    <!-- ======= Header ======= -->
    <div id="header"></div>
    </header><!-- End Header -->
    <!-- ======= CEO's talk ======= -->
    <section id="about" class="about mt-5 mb-5">
        <div class="container">

            <div class="row">
                <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                    <img src="static/img/about-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                    <h3 data-aos="fade-up">CEO's Words</h3>
                    <p data-aos="fade-up">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                    <div class="icon-box" data-aos="fade-up">
                        <i class="bx bx-receipt"></i>
                        <h4>Corporis voluptates sit</h4>
                        <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Ullamco laboris nisi</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Ullamco laboris nisi</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->



    <!-- ======= Footer ======= -->
    <footer id="footer">
    </footer><!-- End Footer -->



    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- JAVASCRIPTS -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap-slider.js"></script>
    <script src="static/vendor/slick/slick.min.js"></script>
    <script src="static/vendor/jquery-sticky/jquery.sticky.js"></script>
    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
    <script type='text/javascript'>
        $(document).ready(function(){
         $( "#header" ).load( "/static/header.html" );
        });
        $(document).ready(function(){
         $( "#footer" ).load( "/static/footer.html" );
        });
       </script>
</body>

</html>